.profile {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	gap: 15px;
	text-decoration: none;
}

@media screen and (max-width: 1024px) {
  .profile  {
    gap: 5px;
  }
}
