.lead {
	width: 100%;
	min-height: 362px;
	background: linear-gradient(
		90deg,
		rgba(244, 251, 255, 1) 0%,
		rgba(255, 255, 255, 1) 100%
	);
	display: flex;
	justify-content: space-between;
	position: relative;
}

@media screen and (max-width: 1024px) {
  .lead {
    min-height: 342px;
  }
}

@media screen and (max-width: 970px) {
  .lead {
    min-height: 236px;
  }
}