.card__text {
  margin-top: 7px;
  margin-bottom: 40px;
  font-size: 14px;
  line-height: 1.57;
  font-weight: 500;
  color: #003366;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .card__text {
    line-height: 1.28;
  }
}