.logo {
  display: block;
  font-size: 48px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: opacity .5s ease-in;
  font-family: Calibri;
  font-weight: bold;
  line-height: 1;
}

.logo:hover {
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .logo {
    font-size: 24px;
  }
}