@import url('../vendor/normalize.css');
@import url('../blocks/root/root.css');
@import url('../blocks/page/page.css');
@import url('../blocks/align-block/align-block.css');
/* logo */
@import url('../blocks/logo/logo.css');
/* header */
@import url('../blocks/header/header.css');
@import url('../blocks/header/__menu-links/header__menu-links.css');
@import url('../blocks/header/__menu-link/header__menu-link.css');
/* profile */
@import url('../blocks/profile/profile.css');
@import url('../blocks/profile/__avatar/profile__avatar.css');
@import url('../blocks/profile/__text/profile__text.css');
/* content */
@import url('../blocks/content/content.css');
/* lead */
@import url('../blocks/lead/lead.css');
@import url('../blocks/lead/__description/lead__description.css');
@import url('../blocks/lead/__title/lead__title.css');
@import url('../blocks/lead/__list/lead__list.css');
@import url('../blocks/lead/__btn/lead__btn.css');
@import url('../blocks/lead/__illustration/lead__illustration.css');
/* vacancies */
@import url('../blocks/vacancies/vacancies.css');
@import url('../blocks/vacancies/__title/vacancies__title.css');
@import url('../blocks/vacancies/__list/vacancies__list.css');
/* card */
@import url('../blocks/card/card.css');
@import url('../blocks/card/__title/card__title.css');
@import url('../blocks/card/__img-wrapper/card__img-wrapper.css');
@import url('../blocks/card/__img/card__img.css');
@import url('../blocks/card/__text/card__text.css');
@import url('../blocks/card/__btn/card__btn.css');
