.header__menu-link {
  min-width: 66px;
  display: block;
  color: #003366;
  text-decoration: none;
  font-size: 14px;
  line-height: 34px;
  font-weight: normal;
}

.header__menu-link:hover {
  opacity: .5;
  transition: opacity .5s ease-in;
}

.header__menu-link_active {
  border-bottom: 3px solid #66ccff;
}